<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="hugoAuto1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <hugoAuto1.Properties.Settings>
            <setting name="source" serializeAs="String">
                <value>C:\Users\J\Documents\GitHub\cornBlog-bootstraptheme</value>
            </setting>
            <setting name="output" serializeAs="String">
                <value>C:\Users\J\Documents\GitHub\cornradio.github.io\hugo</value>
            </setting>
            <setting name="articles" serializeAs="String">
                <value>C:\Users\J\Documents\GitHub\cornBlog-bootstraptheme\content\zh-cn\posts</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="chromeCommand" serializeAs="String">
                <value>C:\Program Files\Google\Chrome\Application\Chrome.exe</value>
            </setting>
            <setting name="typoraCommand" serializeAs="String">
                <value>C:\Users\J\AppData\Local\Programs\Typora\Typora.exe</value>
            </setting>
            <setting name="vscCommand" serializeAs="String">
                <value>C:\Users\J\AppData\Local\Programs\Microsoft VS Code\Code.exe</value>
            </setting>
            <setting name="githubCommand" serializeAs="String">
                <value>C:\Users\J\AppData\Local\GitHubDesktop\GitHubDesktop.exe</value>
            </setting>
            <setting name="hugotheme" serializeAs="String">
                <value>hugo-theme-bootstrap</value>
            </setting>
            <setting name="gitpull_cmd" serializeAs="String">
                <value>cd C:\Users\J\Documents\GitHub\cornradio.github.io
git pull --verbose

cd C:\Users\J\Documents\GitHub\cornBlog-bootstraptheme
git pull --verbose</value>
            </setting>
            <setting name="gitpush_cmd" serializeAs="String">
                <value>cd C:\Users\J\Documents\GitHub\cornradio.github.io
git add .
git commit -m "auto commit" --verbose
git push --verbose

cd C:\Users\J\Documents\GitHub\cornBlog-bootstraptheme
git add .
git commit -m "auto commit" --verbose
git push --verbose</value>
            </setting>
            <setting name="gitproxy_cmd" serializeAs="String">
                <value>git config http.proxy 127.0.0.1:7890
git config https.proxy 127.0.0.1:7890
git config http.version HTTP/1.1</value>
            </setting>
        </hugoAuto1.Properties.Settings>
    </userSettings>
</configuration>
