<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="hugoAuto1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <hugoAuto1.Properties.Settings>
            <setting name="source" serializeAs="String">
                <value>hugo源文件的根目录(包含主题等）</value>
            </setting>
            <setting name="output" serializeAs="String">
                <value>要hugo编译输出到的目录位置</value>
            </setting>
            <setting name="articles" serializeAs="String">
                <value>文章目录文件夹，根据主题不同有所区别，一般在hugo源文件夹的posts文件目录</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>设置win用户名来正常访问默认程序安装路径</value>
            </setting>
            <setting name="chromeCommand" serializeAs="String">
                <value>C:\Program Files\Google\Chrome\Application\Chrome.exe</value>
            </setting>
            <setting name="typoraCommand" serializeAs="String">
                <value>C:\Users\kasusa\AppData\Local\Programs\Typora\Typora.exe</value>
            </setting>
            <setting name="vscCommand" serializeAs="String">
                <value>C:\Users\kasusa\AppData\Local\Programs\Microsoft VS Code\Code.exe</value>
            </setting>
            <setting name="githubCommand" serializeAs="String">
                <value>C:\Users\kasusa\AppData\Local\GitHubDesktop\GitHubDesktop.exe</value>
            </setting>
            <setting name="hugotheme" serializeAs="String">
                <value>hugo-theme-bootstrap</value>
            </setting>
        </hugoAuto1.Properties.Settings>
    </userSettings>
</configuration>
